= link_to "http://github.com/alejandraluaces/TIY_Application/" do
  = partial "/images/icons/octocat.svg"

%p.footerMain__paragraph This website serves as an application for #{link_to 'UI Designer', 'https://the-iron-yard.workable.com/jobs/84721'} at #{link_to 'The Iron Yard', 'http://theironyard.com/'}.

%p.footerMain__paragraph Check out #{link_to 'the colophon', '/colophon.html'} for details!
