.masthead
  %a{:href => "/", class: "sideNav__link"}
    .logo
      %h1.visuallyhidden The Iron Yard
  %h2.masthead__subhead Design Application
  %hr.break

%nav.sideNav
  .sideNav__mobileButton.sideNav__link
    = link_to "Menu", "#", class: "topnav__link"

  %ul.sideNav__list
    %li.sideNav__heading
      = sideNav_link_to "Who is Alejandra?", "/"
    %li.sideNav__item
      = sideNav_link_to "About this Application", "/about-this-application.html"
    %li.sideNav__item
      = sideNav_link_to "Where I've Been", "/past.html"
    %li.sideNav__item
      = sideNav_link_to "Where I'm Going", "/future.html"

  %ul.sideNav__list
    %li.sideNav__heading
      = sideNav_link_to "Alejandra + TIY = <3", "/alejandra-plus-tiy.html"
    %li.sideNav__item
      = sideNav_link_to "Sweet Reputation", "/reputation.html"
    %li.sideNav__item
      = sideNav_link_to "Shared Values", "/values.html"
    %li.sideNav__item
      = sideNav_link_to "Full-process design", "/full-process.html"
